/* =====================================
                GENERAL
=======================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body{
    background-color: #ffffff;
    color: #5a3d54; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* =============== BOTONES =============== */


