/* Estilos del Footer (pie de pagina para todas las vistas menos las de admin) */
footer {
    background-color: #ffffff;
    color: #7a235f;
    text-align: center; 
    padding: 25px 15px;
    border-top: 3px solid #d4a9c2;
    margin-top: 50px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.redes-icon-link {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-decoration: none; 
    transition: color 0.3s;
}

.redes-icon-link img {
    width: 30px; 
    height: 30px;
    margin-bottom: 5px; }

.redes-icon-link span {
    font-size: 0.8em; 
}

.redes-icon-link:hover {
    color: #7a235f;
    text-decoration: underline;
}

footer a {
    color: #c45a77; 
    font-weight: bold;
    margin: 0 10px; 
    text-decoration: none; 
    transition: color 0.3s;
}

footer a:hover {
    color: #7a235f;
    text-decoration: underline;
}